<div class="text-center">
  <div class="register_main">
    <div class="form-signin">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h1 class="h3 mb-3 font-weight-normal">アカウントを作成</h1>
        <%= f.text_field :name, :placeholder => "ユーザーネーム", class: "form-control" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", class: "form-control" %>
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => "パスワード", class: "form-control" %>
        <%= f.submit "アカウント作成", class: "btn btn-md btn-primary btn-block" %>
      <% end %>
      <%= button_to  "ログインへ", new_session_path(resource_name), class: "btn btn-md btn-primary btn-block mt-2" %>
    </div>
  </div>
</div>


        <%
=begin%>
 <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード確認用" %>  
<%
=end%>
